# IDE files
.idea/

# Test coverage reports
coverage/

# Android
/android/

# iOS
/ios/

# Node modules (if not already ignored)
node_modules/

# Expo
.expo/
dist/
web-build/

# macOS
.DS_Store
*.pem

# local config files
.eslintrc.js
.prettierrc.js
.vscode/

# Misc
*.log
.env

# builds
*.apk
*.aab